<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/semantic.css">
	<link rel="text/javascript" href="/javascripts/semantic.js">
	<script src="/javascripts/jquery.min.js"></script>
	<style>
		.container 		{ padding-top:10px; word-wrap:break-word; }
	</style>
</head>
<body>
	<div class="ui left sidebar" id="demo">
	  <a class="item">
	    <i class="home icon"></i>
	    Home
	  </a>
	  <a class="item">
	    <i class="block layout icon"></i>
	    Topics
	  </a>
	  <a class="item">
	    <i class="smile icon"></i>
	    Friends
	  </a>
	  <a class="item">
	    <i class="calendar icon"></i>
	    History
	  </a>
	  <a class="item">
	    <i class="mail icon"></i>
	    Messages
	  </a>
	  <a class="item">
	    <i class="chat icon"></i>
	    Discussions
	  </a>
	  <a class="item">
	    <i class="trophy icon"></i>
	    Achievements
	  </a>
	  <a class="item">
	    <i class="shop icon"></i>
	    Store
	  </a>
	  <a class="item">
	    <i class="settings icon"></i>
	    Settings
	  </a>
	</div>

<div class="pusher">
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
			<h3><span class="fa fa-star"></span> Hello, <%= user.local.name %> Welcome back!</h3>
			<% if (message.length > 0 && message!='edit' ) {%>
				<div class="alert"> <%= message %></div>
			<% } %>

		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>
			<div class="modal">
				<form action="/user/edit/<%=user._id%>" method="post">
					<input type="text" name="name" autofocus="autofocus" placeholder="Name" length="5px"/>
                    <input type="text" name="department" autofocus="autofocus" placeholder="Department"/><br><br>
                    <input type="text" name="username" id="username" autofocus="autofocus" placeholder="Username">
                    <input type="password" name="password" autofocus="autofocus" placeholder="password"/>
					<input type="hidden" name="id" value="<%=user._id%>">
                    <br><br>
	                <input type="submit" class="btn btn-deafult" name="todo-submit" value="Update"/>	
				</form>
			</div>
	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-3">
			<div class="ui card">
				<div class="image">
					<img src="http://graph.facebook.com/<%= user.facebook.id %>/picture?type=large" >
				</div>
			    <div class="content">
    				<a class="header"><%= user.local.name %></a>
    				<div class="description">
    					<span calss="description"> Member of <%= user.local.department%></span>
    				</div>
    				<div class="meta">
	      				<span class="date"></span><br>
    				</div>
			    </div>
				<div class="extra content" >
					<a class="btn btn-primary" id="edit" href="/user/edit/<%= user._id %>"><p style="color:white">Edit Info</p></a>
				</div>
			</div>
			<div class="ui toggle checkbox">
			  <input type="checkbox" id="facebook">
			  <label for="facebook">Facebook Info</label>
			</div>
			<script>
				var checkbox = document.getElementById('facebook');
				checkbox.onchange = function(){
					if(this.checked){
						$('#fbcolumn').addClass('well')
						$('#fbcolumn').removeClass('hidden')
					}else{
						$('#fbcolumn').addClass('hidden')
						$('#fbcolumn').removeClass('well')
					}
				}
			</script>
		</div>
		<div class="col-sm-9">
			<% if (message==='edit') {%>
			<div class="well" style="padding-top:0px">
				<h3>Edit Information</h3>
				<span class="ui" name='ui'>
				<form action="/user/edit/<%=user._id%>" method="post" class="form" name="form">
					<input type="text" name="name" autofocus="autofocus" placeholder="Name" length="5px"/><br><br>
                    <input type="text" name="department" autofocus="autofocus" placeholder="Department"/>
                    <!-- <input type="password" name="password" autofocus="autofocus" placeholder="password"/> -->
					<input type="hidden" name="id" value="<%=user._id%>">
                    <br><br>
	                <input type="submit" class="btn btn-deafult" name="todo-submit" value="Update"/>	
				</form>
				</span>
			</div>
			<% } %>
		<!-- FACEBOOK INFORMATION -->				
			
			<!-- <% if (user.facebook.email==='lulalachen@hotmail.co' || !user.facebook.token) { %> -->
				<!-- ~~~~ -->
			<!-- <% } %> -->

			<div class="hidden" style="padding-top:0px" id="fbcolumn">
			
			<% if (!user.facebook.token) { %>
				<h1>Hurry up! Connect your facebook account!</h1>
			<% } %>
				<!-- check if the user has this token (is the user authenticated with this social account) -->

				<% if (user.facebook.token) { %>
					<h3 class="text-primary">
						<span class="fa fa-facebook fa-lg"></span>&nbsp;&nbsp;
						Facebook
					</h3>
					<p>
						<strong>id</strong>: <%= user.facebook.id %><br>
						<strong>token</strong>: <%= user.facebook.token %><br>
						<strong>email</strong>: <%= user.facebook.email %><br>
						<strong>name</strong>: <%= user.facebook.name %><br>
					</p>

					<a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
				<% } %>
				<% if (!user.facebook.token) { %> 
					<a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
				<% } %>
			</div>
			<div class="well" style="padding-top:0px">
				<h3>
					<span class="fa fa-pencil fa-lg"></span>&nbsp;&nbsp;Blog Posts
					<div style="text-align:right">
						<a href="/posts/new"><span class="fa fa-pencil-square-o"></span>Newposts</a>
					</div>
				</h3>
					<% if(posts) {%>
						<table class="ui table">
							<thead>
							    <tr>
									<th>Title</th>
									<th>Content</th>
									<!-- <th>Tags</th> -->
									<th>Create Date</th>
									<th>Edit</th>
									<th>Delete</th>
							    </tr>
						  	</thead>
		  					<% posts.forEach(function(posts){ %>
								<% if(posts.user_id === user.id) {%>
								  	<tbody>
									    <tr>
									      <td><%= posts.title %></td>
									      <td><%= posts.content %></td>
									      <!-- <td><%= posts.tag %></td> -->
									      <td><span class="posts_date<%= posts._id %>"></span></td>
									      <td><a href="/posts/edit/<%= posts._id %>">Edit</a></td>
									      <td><a href="/posts/delete/<%= posts._id %>">Delete</a></td>
									    </tr>
								  	</tbody>

									<script>
										var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
										$('.posts_date<%=posts._id%>').append(monthNames[<%= posts.create_at.getMonth() %>] + " " + <%= posts.create_at.getDate() %> + ", " + <%= posts.create_at.getYear()+1900 %> + " | "+ <%= (posts.create_at.getHours()%12) %> + ":" + <%= posts.create_at.getMinutes()%> )
									</script>
								<% } %>
							<% }) %>
						</table>	
				<% }%>
			</div>

			<div class="well" style="padding-top:0px">
				<h3>
					<span class="fa fa-star-o fa-lg"></span>&nbsp;&nbsp;Breaking News
					<div style="text-align:right">
						<a href="/news/new"><span class="fa fa-pencil-square-o"></span>New News</a>
					</div>
				</h3>
				<% if(news) {%>
						<table class="ui table">
							<thead>
							    <tr>
									<th>Title</th>
									<th>Content</th>
									<!-- <th>Tags</th> -->
									<th>Create Date</th>
									<th>Edit</th>
									<th>Delete</th>
							    </tr>
						  	</thead>
		  					<% news.forEach(function(news){ %>
								<% if(news.user_id === user.id) {%>
								  	<tbody>
									    <tr>
									      <td><%= news.title %></td>
									      <td><%= news.content %></td>
									      <!-- <td><%= news.tag %></td> -->
									      <td><span class="news_date<%= news._id %>"></span></td>
									      <td><a href="/news/edit/<%= news._id %>">Edit</a></td>
									      <td><a href="/news/delete/<%= news._id %>">Delete</a></td>
									    </tr>
								  	</tbody>

									<script>
										var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
										$('.news_date<%=news._id%>').append(monthNames[<%= news.create_at.getMonth() %>] + " " + <%= news.create_at.getDate() %> + ", " + <%= news.create_at.getYear()+1900 %> + " | "+ <%= (news.create_at.getHours()%12) %> + ":" + <%= news.create_at.getMinutes()%> )
									</script>
								<% } %>
							<% }) %>
						</table>	
				<% }%>
			</div>
		</div>
	</div>


	
	<div class="row">
		<div class="text-center" style="padding:40px">
			<p>- Hack NTU 2015 -</p>
		</div>
	</div>



</div>
</div>

</body>
<script>
// show Join time
var monthNames = [ "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December" ];
$('.date').append("Joined in " + monthNames[<%= user.local.create_at.getMonth() %>] + " " + <%= user.local.create_at.getDate() %> + ", " + <%= user.local.create_at.getYear()+1900 %>)

$('#btn').click(function(){
	$('p').append("poka")
})
	$('left.sidebar')
	  .sidebar('attach event','#btn')
	;


// show Join time
$('.ui.form')
.form({
    name: {
      identifier  : 'name',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please enter your name'
        }
      ]
    },
    department : {
      identifier  : 'department',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please enter your department'
        }
      ]
    },
  })
;


$('.modal')
	.modal('attach events', 'test', 'show')
;
$('#btn').click(function(){
	$('.text-center').append("poka")
	$('.modal').modal('show')
})
</script>
</html>